:root {
  --primary-color: rgb(205, 206, 207);
  --secundary-color: rgb(82, 83, 85);
  --thirdy-color: rgb(229, 236, 243);
  --fourty-color: rgb(88, 123, 169);
  --shadow: rgb(4, 18, 80);
  --active-text-color: rgb(4, 14, 91);
  --active-color: rgb(244, 245, 250);
  --active-shadow-color: rgb(74, 26, 129);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Open sans", sans-serif;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 100px 0px 100px 0px;
  padding: 25px;

  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    var(--thirdy-color),
    var(--fourty-color)
  );
  box-shadow: 8px 8px 15px var(--shadow);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.lista_input__tarefas {
  display: flex;
  align-items: center;
  padding: 20px;
}

.input_tarefas {
  margin-right: 5px;
  height: 30px;
}

.btn_tarefas {
  border: 1px solid var(--secundary-color);

  background: var(--primary-color);
  box-shadow: 8px 8px 20px var(--secundary-color);
  border-radius: 5px;

  font-size: 15px;
  font-weight: bold;
  color: var(--shadow);

  height: 30px;
  cursor: pointer;
}

.card_list {
  position: relative;
  left: -50px;
}

.card_list li {
  font-weight: 600;

  font-family: "Courier New", Courier, monospace;

  margin-bottom: 10px;
}

.card_list .apagar {
  color: rgb(250, 70, 70);
  border: 2px solid rgb(129, 3, 3);

  padding: 5px 10px;
  font-weight: bold;

  text-decoration: underline;
  box-shadow: 5px 2px 10px rgb(26, 26, 26);
  cursor: pointer;
}
