:root {
  --primary-color: #cdcecf;
  --secundary-color: #525355;
  --thirdy-color: #e5ecf3;
  --fourty-color: #587ba9;
  --shadow: #041250;
  --active-text-color: #040e5b;
  --active-color: #f4f5fa;
  --active-shadow-color: #4a1a81;
  --shadow-numero: #18403f;
  --hover-numero: #040404;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Open sans", sans-serif;

  margin: 0;
  padding: 0;
  height: 100vh;

  background: linear-gradient(
    to top right,
    var(--primary-color),
    var(--secundary-color)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 3rem;
  margin: 5rem;

  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    var(--thirdy-color),
    var(--fourty-color)
  );
  box-shadow: 8px 8px 15px var(--shadow);
}

.container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.cpf-gerado {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  font-family: "Courier New", monospace;
  letter-spacing: 3px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 1rem;
  background: var(--secundary-color);
  padding: 1rem;
  border: 3px solid var(--shadow);
  border-radius: 0.5em;
  box-shadow: 0px 10px 15px var(--shadow-numero);
  cursor: pointer;
}

.cpf-gerado:hover {
  background: var(--shadow);
  color: var(--thirdy-color);
  border: 3px solid var(--shadow-numero);
  box-shadow: 0px 10px 15px var(--hover-numero);
  cursor: pointer;
}
